header{
    background-color: orange;
    padding: 14px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    height: 60px;
}

.nav{
    display: flex;
}

/* > = 直下の、という意味 */
.nav > li > a {
    color: white;
    font-size: 20px;
    /* padding: 10px; */
    margin-left:20px;

}

.welcome {
    /* 大事！ファイルの設定、background-image:;の中に　url('')  ''の中に　../ */
    background-image: url('../img/karaage5.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    /* vh = view height ウィンドウの高さがマックス100*/
    height:100vh;
    /* 文字色、両方に効かせたい　ここ、親要素に書く */
    color:white;
    /* 文字を太く */
    font-weight: bold;
}



/* ここにしかない */
.title{
    text-align: center;
    font-size:80px;
    color: brown;
    /* アニメーション */
    animation-name: bigger_font;
    animation-duration: 3s;
    animation-delay: 0ms;
    animation-timing-function: ease;

}
/* メディアスクリーン */
@media screen and (max-width:780px){
    .title{
        color:orange;
        font-size: 60px;}
}
@media screen and (max-width:500px){
    .title{
        color:brown;
        font-size: 60px;
    }
}
/* アニメーション */
@keyframes bigger_font {
    from{
        font-size: 0px;
    }
    to{
        font-size: 60px;
    }
}

.guideline li {
    text-align: center;
    font-size: 60px;
    color:orange;
    /* アニメーション */
    animation-name: bigger_font2;
    animation-duration: 3s;
    animation-delay: 5ms;
    animation: bigger_font 3s 2s ease;
}
.guideline2 li {
    text-align: center;
    font-size: 80px;
    color:orange;
    animation: bigger_font 3s 3s ease;
}
.guideline3 li {
    text-align: center;
    font-size: 50px;
    color:orange;
    animation: bigger_font 3s 4s ease;
}

.contents>img{
    height: 150px;
    margin-top: 10px;
}   
.contents{
    /* margin-top: 50px;
    display: flex;
    align-items: center;
    justify-conten/t: center; */ 

    border: 1px solid black;
    margin: 20px 15px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    
}
.contents > ul > li {
    font-size: 20px;
    text-align: center;
    padding: 15px;
}


#menu>h2{
    font-size: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:500px){
    h2{
        background-color:orange;
        color:white;
    }
}

#takeout>h2{
    font-size: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.guideline4{
    text-align: center;
}

.container{
    /* 画像を三つ横並び親要素に書く */
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.flex{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 15px;
}

.flex>img{
    /* スマホで見れるように */
    /* height150px →　auto */
    height:auto;
    margin-top: 10px;
    /* なし　→　max-width:100%; */
    max-width: 100%;
}

.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* デスクトップファースト */


.flex2{
    margin-top: 30px;
    color: rgb(255, 153, 0); 
    
    /* margin:; */

}
/* アクセス */
#accese>h2{
    font-size: 50px;
    text-align: center;
    
}
.accese{
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}
.accese > ul >li {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
@media screen and (max-width:500px){
    .accese>ul>li{
        font-size: 20px;
        color: black;
    }
}
/* プロフィール */
#profile>h2{
    font-size: 50px;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    background-color: rgb(202, 74, 74);
}
#profile>p{
    font-size: 35px;
    text-align: center;
    background-color: rgb(202, 74, 74);
}
.profile{
    font-size: 35px;
    font-weight: bold;
    color: orange;
    display: flex;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
}

@media screen and (max-width:500px) {
    #profile>h2{
        color: black;
    }
    #profile>p{
        font-size: 30px;
    }
    .profile{
        display: inline;
    }
    .profile > img {
        padding-left: 100px;
    }
}



footer{
    background-color: rgb(61, 2, 2);
    color: white;
    text-align: center;
    padding:30px 40px;
}

/* .container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
} */
.flex{
    width: 200px;
    height: 200px;
    /* border: 1px solid pink; */
}




















